.chat-box{
	margin: 25px 10px;
	width: 255px;
	height: 290px;
	border: 1px solid #EFEFEF;
	float: left;
}

.active-list{
	margin: 25px 10px;
	width: 200px;
	height: 290px;
	border: 1px solid #EFEFEF;
	float: left;
}

.discussion > li > a{
	text-decoration: none;
	font-size: 15px;
	color: #000;
}

.right{
	position: absolute !important;
	color: #FFF;
	top: 7px;
	right: 10px;
	font-weight: 900;
}

.right:hover{
	color: #FFF;
}

ul{
	padding-left: 0;
	font-size: 12px;
}

header{
	background-color: #666;
}

.top-bar {
  background: #666;
  position: relative;
  overflow: hidden; 
}

.top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
}

.discussion{
	padding: 10px;
	font-size: 12px;
	overflow-y: auto;
	height: 185px;
}

/*.discussion li {
  	display: flex;
}*/		

.self {
  justify-content: flex-end;
  align-items: flex-end;
}

.left{
	margin-left: 10px;
	font-weight: 900;
	color: #FFF;
}

.other > .name{
	color: blue;
}

.self > .name{
	color: green;
}

input{
	margin: 6px 4px !important;
	width: 97%;
	position: relative;
	height: 46px;
	padding-left: 5px;
}

/*input:focus{
	border-color: #00FFFF;
	box-shadow:1px #00FFFF;
}*/

.name{
	width: 12px;
}

hr{
	margin: 0px !important;
}

.active{
	display: inline-block;
	background-color: #40C012;
	height: 12px;
	width: 12px;
	border-radius: 7px;
}

.header-active{
	background-color: #40C012;
	height: 12px;
	width: 12px;
	border-radius: 7px;
}